/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1d5db; /* zinc-300 */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .image {
    width: 40%; /* Increased width */
    height: auto;
    margin: 20px 0;
  }
  
  .content {
    width: 20vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    color: #4b5563; /* zinc-500 */
    margin-bottom: 20px;
  }
  
  .form {
    width: 100%;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
  }
  
  .submit {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #dc2626; /* red-600 */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .link, .register-link {
    display: block;
    margin-top: 10px;
    color: #3b82f6; /* blue-400 */
    text-decoration: none;
  }
  
  .footer {
    background-color: #d1d5db; /* zinc-300 */
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .footer-title {
    font-size: 18px;
    color: #374151; /* zinc-700 */
  }
  
  .developer-info {
    color: #4b5563; /* zinc-600 */
  }
  
  .footer-text {
    margin-top: 10px;
    color: #4b5563; /* zinc-600 */
  }
  
  .footer p {
    margin: 5px 0;
  }
  