<% include ./partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/loginPageStyles.css">
<div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/LNMIIT_Logo_%28Transperant_Background%29.png/1920px-LNMIIT_Logo_%28Transperant_Background%29.png" 
     alt="LNMIIT Logo" 
     width="200" 
     style="height: auto;">


  <div class="content">
    <h1 class="title">Course Schedule Management System</h1>
    <form action="/login" method="post" class="form">
      <input class="input" type="text" name="username" placeholder="username">
      <input class="input" type="text" name="email" placeholder="email">
      <input class="input" type="password" name="password" placeholder="password">
      <input class="submit" type="submit" value="Login">
      <a class="link" href="">Forgot password?</a>
    </form>
    <a class="register-link" href="/register">Don't have an account? Sign Up</a>
  </div>
</div>
<div class="footer">
  <div class="developers">
    <h2 class="footer-title">Developers:</h2>
    <p class="developer-info"><strong>Garvit Chittora</strong>, Roll Number: 21UCS079, Email: 21ucs079@lnmiit.ac.in</p>
    <p class="developer-info"><strong>Joshua Joy</strong>, Roll Number: 21UCS100, Email: 21ucs100@lnmiit.ac.in</p>
  </div>
  <br>
  <div class="footer-text">
    <p>Course Schedule Management System is designed to streamline the scheduling process, making it efficient and user-friendly.</p>
    <p>&copy; 2024 LNMIIT. All rights reserved.</p>
  </div>
</div>
<% include ./partials/footer.ejs %>
