<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="stylesheets/registerPageStyles.css">
</head>
<body>
<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
    <div class="w-[20vw] h-[60vh] bg-white px-20 py-5 rounded-md">
      <h1 class="text-3xl tracking-tighter text-center capitalize font-semibold text-black-500 leading-none">Create New Account</h1>
      <form class="form" action="/register" method="post">
        <input class="input-field" type="text" name="username" placeholder="Username">
        <input class="input-field" type="email" name="email" placeholder="Email">
        <input class="input-field" type="number" name="contact" placeholder="Contact">
        <input class="input-field" type="password" name="password" placeholder="Password">
        <input class="submit-button" type="submit" value="Sign Up">
      </form>
      <a class="text-blue-400 font-semibold text-center" href="/">Already a member? Log In</a>
    </div>
</div>
<% include ./partials/footer.ejs %>
