body {
    font-family: Arial, sans-serif;
    background-color: #0c2340;
    color: #fff;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    animation: slideInFromTop 1s ease-in-out;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

h1, h2 {
    text-align: center;
    color: #d3d3d3;
    animation: fadeIn 1s ease-in-out;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1a4780;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #1f3b57;
}

tbody tr:hover {
    background-color: #2e5882;
}

.professors {
    font-style: italic;
}
